/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
/* Spectre version */
.version::after {
    content: "0.2.13";
}

/* Spectre docs style */
.bg-gray {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}

.bg-dark {
    background: #50596c;
    color: #fff;
    padding: 1rem;
}

.bg-primary {
    background: #5764c6;
    color: #fff;
    padding: 1rem;
}

.section-header {
    padding: 1rem .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.section-hero {
    position: relative;
    z-index: 300;
}

.grid-hero {
    /*margin-bottom: 1rem;*/
    /*margin-top: 2rem;*/
}

.grid-hero h1 {
    color: #5b657a;
    font-size: 3.2rem;
    font-weight: 400;
}

.grid-hero h2 {
    color: #5b657a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.grid-hero h2 u {
    border-bottom: .2rem solid #5b657a;
    padding-bottom: .1rem;
    text-decoration: none;
}

.grid-hero .card {
    background: none;
    border: 0;
    color: #667189;
}

.grid-hero .card .card-title {
    color: #5764c6;
    font-size: 1.8rem;
    margin-bottom: 0;
}
